@using SushiSharp.Cards
@using SushiSharp.Game.Players
<h3>Round @RoundNumber</h3>
<MudTable Items="@Scores"
          Hover="true"
          Breakpoint="Breakpoint.Sm"
          LoadingProgressColor="Color.Info">
    <HeaderContent>
        <MudTh></MudTh>
        @foreach (var player in Players)
        {
            <MudTh>@player.Name</MudTh>
        }
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Nr">@context.Key</MudTd>

        @foreach (var player in Players)
        {
            <MudTh>@context.Value[player.Id]</MudTh>
        }

    </RowTemplate>
</MudTable>

@code {
    [Parameter] public required int RoundNumber { get; set; }
    [Parameter] public required List<Player> Players { get; set; }
    [Parameter] public required Dictionary<CardType, Dictionary<string, int>> Scores { get; set; }
}